.panel {
    background-color: var(--background-strong);
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(70.33% - 16px);
    text-align: start;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 100vh;
  }
  
  .panel:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  }
  
  .panel h2 {
    font-size: 2rem;
    color: var(--highlight);
    margin-bottom: 8px;
  }
  
  .panel p {
    color: var(--text);
    
  }

  .panel:hover span {
    transition: transform 0.2s ease-in-out;
    transform: translateY(-5px);
  }

  .panel img {
    max-width: 2.5vw;
  }
  
  @media screen and (max-width: 768px) {
    .panel {
      width: calc(50% - 16px);
    }

    .panel img{
      max-width:10vw ;
    }
  }
  
  @media screen and (max-width: 480px) {
    .panel {
      width: 100%;
    }
  }