.container {
    display: flex;
    color: var(--text);
    animation: animeLeft 0.3s ease forwards;
    width: 99vw;
    position: relative;
    padding: 0 4px;
  }
  
  .infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 70%;
    height: 80vh;
    font-size: 2rem;
  }
  
  .imgContainer {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
  }
  
  .infoContainer p {
    font-size: 1.2rem;
    color: var(--text-light);
    line-height: 1.6;
    font-style: italic;
  }
  
  .infoContainer h1 {
    font-size: 4rem;
    font-weight: bold;
    color: var(--text-strong);
    font-family: 'Dancing Script' , 'Arial';
  }
  
  .accent {
    color: var(--highlight-strong);
    font-weight: bold;
    font-family: 'Dancing Script' , 'Arial';
  }
  
  .imgContainer > img {
    transition: all 0.3s ease;
    z-index: -1;
    position: absolute;
    width: 30%;
    box-shadow: 0px 1px 0 var(--text);
    border-radius: 5%;
  }
  
  .btn__wrapper {
    width: 100%;
    display: flex;
    margin-top: 24px;
    justify-content: center;
  }
  
  .panelsContainer {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 16px;
  }
  
  @keyframes animeLeft {
    0% {
      margin-left: -15px;
      opacity: 0;
    }
  
    100% {
      margin-left: 0;
      opacity: 1;
    }
  }
  
  @media screen and (max-width: 900px) {
    .container {
      flex-direction: column;
      overflow: auto;
      padding: 0;
      height: 100%;
      margin: 8px 0;
    }
  
    .imgContainer {
      display: none;
    }
  
    .infoContainer {
      width: 100%;
      height: auto;
    }
  
    .infoContainer > h1 {
      font-size: 3.5rem;
    }
  
    .panelsContainer {
      flex-wrap: wrap;
    }
  }
  