.container{
    display: flex;
    align-items: center;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: 10%;
}

.button__wrapper{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.logo{
  width: 10vw;
}

@media screen and (max-width:700px) {
    .container{
        flex-direction: column;
    }

    .logo{
        width: 50vw;
    }

    .button__wrapper{
        width: 100%;
    }
}